<div class="calendar">
  <div class="calendar-controls">
    <mat-form-field>
      <mat-label>Выбрать год</mat-label>
      <mat-select (selectionChange)="selectYear($event.value)" [value]="currentYear">
        @for (year of years(); track year) {
          <mat-option [value]="year">{{ year }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Выбрать месяц</mat-label>
      <mat-select [value]="currentMonth" (selectionChange)="selectMonth($event.value)">
        @for (month of monthes; track $index) {
          <mat-option [value]="$index">{{month}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="calendar-title">
    @for (day of daysOfWeek; track $index) {
      <span class="day-title">{{day}}</span>
    }
  </div>
  <div class="calendar-month">
    @for (day of monthMap(); track day) {
      <app-day [day]="day"/>
    }
  </div>
</div>
